/*******************************************************************************
 * Copyright (c) 2005, 2006 IBM Corporation and others.
 * All rights reserved. This program and the accompanying materials 
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 * 
 * Contributors:
 *     IBM Corporation - initial API and implementation
 *******************************************************************************/

/* show the "selected" image for this page */
#navigation-links a#whatsnew img, 
#navigation-links a#whatsnew:hover img,
#navigation-links a#whatsnew:focus img,
#navigation-links a#whatsnew:active img {
	background : url(../graphics/icons/ctool/whatsnew48.png) center center no-repeat;
}

/*
 * Default images for content links in this page.
 */
.content-link img { background-image : url(../graphics/icons/obj48/new_obj.gif); }
.content-link:hover img { background-image : url(../graphics/icons/obj48/newhov_obj.gif); }