a#overview img { background-image : url('images/estudio.png'); }

a#basics img { background-image : url('../../images/topiclabel/ov_wbbasics48.gif'); }
a#basics:hover img { background-image : url('../../images/topiclabel/ov_wbbasics48_hov.gif'); }

a#team img { background-image : url('../../images/topiclabel/ov_teamsup48.gif'); }
a#team:hover img { background-image : url('../../images/topiclabel/ov_teamsup48_hov.gif'); }