a#estudio-noteworthy img { background-image : url('images/estudio.png'); }
a#news img { background-image : url('images/estudio.png'); }

div#rss-news {
	position: relative;
	top: -25px;
	margin-bottom: -25px;
	margin-left: 52px;
	color: #cfd0d0;
}

#rss-news .div-label {
	color: #cfd0d0;
	font-size: 9pt;
}

#rss-news .provided-content {
}

#rss-news .status-text {
	font-weight: normal;
	color: #cfd0d0;
	font-size: 8pt;
}
